<div class="row">
  <div class="col question">
    <h1><%= @question_thread.question %></h1>
    <p class="text-muted">Asked by <%= @question_thread.user.name %></p>
    <p><%= @question_thread.details %></p>
  </div>
</div>

<% if not @accepted_answer.empty? %>
  <%= render partial: "question_threads/accepted_answers/accepted_answer" %>
<% end %>

<div id="answers">
  <% @answers.each do |answer| %>
    <%= render partial: "question_threads/answers/answer", locals:{answer: answer} %>

    <% answer.comments.each do |comment| %>
      <%= render partial: "question_threads/comments/comment", locals:{answer: answer, comment: comment} %>
    <% end %>

    <div class="row" id="addComment-<%= answer.id.to_s %>">
      <div class="col addComment">
        <% if user_signed_in? %>
          <%= render partial: "question_threads/comments/form", locals:{answer: answer, comment: answer.comments.new} %>
        <% else %>
          <%= link_to "Sign in to comment", new_user_session_url %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render partial: "question_threads/answers/form" %>
<% else %>
   <%= link_to "Sign in to answer", new_user_session_url %>
<% end %>


