<div class="row">
  <div class="col-3 chatroom">
    <%= render partial: "chatrooms/chatroom", locals: { chatroom: @chatroom } %>
  </div>
  <div class="col-6 question">

    <div data-controller="inline-edit">
      <% if user_signed_in? and @question_thread.user_id == current_user.id %>
        <h1 data-target="inline-edit.body" data-action="click->inline-edit#showForm"><%= @question_thread.question %></h1>
        <%= render partial: "question_threads/edit_question", method: :patch,  locals: {
            question_thread: @question_thread, toggleDisplay: "d-none"  } %>
      <% else %>
        <h1><%= @question_thread.question %></h1>
      <% end %>
    </div>

    <div class="text-muted">Asked by <%= @question_thread.user.name %></div>

    <div data-controller="inline-edit">
      <% if user_signed_in? and @question_thread.user_id == current_user.id %>
        <div data-target="inline-edit.body" data-action="click->inline-edit#showForm"><%= @question_thread.details %></div>
        <%= render partial: "question_threads/edit_details", method: :patch,  locals: {
            question_thread: @question_thread, toggleDisplay: "d-none"  } %>
      <% else %>
        <div><%= @question_thread.details %></div>
      <% end %>
    </div>


<% if not @accepted_answer.empty? %>
  <%= render partial: "question_threads/accepted_answers/accepted_answer" %>
<% end %>

<div id="answers">
  <% @answers.each do |answer| %>
    <%= render partial: "question_threads/answers/answer", locals:{answer: answer} %>

    <% answer.comments.each do |comment| %>
      <%= render partial: "question_threads/comments/comment", locals:{answer: answer, comment: comment} %>
    <% end %>

    <div class="row" id="addComment-<%= answer.id.to_s %>">
      <div class="col addComment">
        <% if user_signed_in? %>
          <%= render partial: "question_threads/comments/form", locals:{answer: answer, comment: answer.comments.new} %>
        <% else %>
          <%= link_to "Sign in to comment", new_user_session_url %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render partial: "question_threads/answers/form" %>
<% else %>
   <%= link_to "Sign in to answer", new_user_session_url %>
<% end %>

</div>

  <div class="col-3">
    <h2>Not sure what I want here yet</h2>
  </div>

</div>
