<% @question_answers.each do |qa| %>
  <div id="answer-<%= qa.id %>">
    <p><%= qa.body %></p>

    <%= render partial: "question_threads/comments/comment", locals: {comments: qa.comments} %>

    <div id="addComment-<%= qa.id.to_s %>">
    <%= link_to "Add comment", new_question_answer_comment_url(qa.id), remote: true,
                id: "addCommentLink-" + qa.id.to_s %>
    </div>
  </div>
  <hr />
<% end %>

